{% extends 'root.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block body %}
    <main class="d-flex flex-column justify-content-center align-items-center w-100 flex-grow-1">
        <section class="text-center">
            <h1>Cryptography Web UI</h1>
            <p>A web app for encrypting and decrypting text using AES-256</p>
        </section>
        <section>
            <h2>Encrypt:</h2>
            <div class="d-flex flex-row">
                <textarea id="encrypt-box" cols="75" rows="5"></textarea>
                <button class="btn submit-button" id="encrypt-button"></button>
            </div>
        </section>
        <section>
            <h2>Decrypt:</h2>
            <div class="d-flex flex-row">
                <textarea id="decrypt-box" cols="75" rows="5"></textarea>
                <button class="btn submit-button" id="decrypt-button"></button>
            </div>
        </section>
    </main>
{% endblock %}