{% extends 'root.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block body %}
    <main class="d-flex flex-column justify-content-center align-items-center w-100 flex-grow-1">
        <section class="text-center">
            <h1>Cryptography Web UI</h1>
            <p>A web app for encrypting and decrypting text using AES-256</p>
        </section>
        <section>
            <h2>Encrypt:</h2>
            <div class="d-flex flex-row">
                <textarea id="encrypt-box" class="p-2 me-2" cols="75" rows="5"></textarea>
                <div class="d-flex flex-column align-self-center">
                    <button class="btn submit-button p-2" id="encrypt-button">Encrypt!</button>
                    <button class="btn clipboard-button p-2 mt-2 d-none" id="clipboard-button-encrypt">Copy!</button>
                </div>
            </div>
        </section>
        <section class="mt-2">
            <h2>Decrypt:</h2>
            <div class="d-flex flex-row">
                <textarea id="decrypt-box" class="p-2 me-2" cols="75" rows="5"></textarea>
                <div class="d-flex flex-column align-self-center">
                    <button class="btn submit-button p-2" id="decrypt-button">Decrypt!</button>
                    <button class="btn clipboard-button p-2 mt-2 d-none" id="clipboard-button-decrypt">Copy!</button>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block js %}
    <script src="/static/js/main.js" type="text/javascript"></script>    
{% endblock %}